<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Datalution</servlet-name>
		<servlet-class>datastore.DatalutionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin</servlet-name>
		<servlet-class>datastore.AdminServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Mission</servlet-name>
		<servlet-class>datastore.MissionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Datalution</servlet-name>
		<url-pattern>/datalution</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Mission</servlet-name>
		<url-pattern>/mission</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
